@page "/registro/criar"

<h3>Criar Registro</h3>

<EditForm Model="registro" OnValidSubmit="Create">
    <DataAnnotationsValidator/>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Título</label>
            <div>
                <InputSelect class="form-control" @bind-Value="@registro.Title"></InputSelect>
                <ValidationMessage For="@( () => registro.Title )" />
            </div>
        </div>
        <div class="form-group col-md-5">
            <label>Nome</label>
            <div>
                <InputText class="form-control" @bind-Value="@registro.FirstName" />
                <ValidationMessage For="@( () => registro.FirstName )" />
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>Sobrenome</label>
            <div>
                <InputText class="form-control" @bind-Value="@registro.LastName" />
                <ValidationMessage For="@( () => registro.LastName )" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Data de nascimento</label>
            <InputDate class="form-control" @bind-Value="@registro.DateBirth" /> 
            <ValidationMessage For="@( () => registro.DateBirth )" />
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <div>
                <InputText class="form-control" @bind-Value="@registro.Email" />
                <ValidationMessage For="@( () => registro.Email )" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Senha</label>
            <div>
                <InputText class="form-control" @bind-Value="@registro.Password" />
                <ValidationMessage For="@( () => registro.Password )" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Confirmação da senha</label>
            <div>
                <InputText class="form-control" @bind-Value="@registro.ConfirmPassword" />
                <ValidationMessage For="@( () => registro.ConfirmPassword )" />
            </div>
        </div>
        <div class="form-group col-md-12">
            <InputCheckbox class="form-check-input"  @bind-Value="@registro.Accept"/>
            <ValidationMessage For="@( () => registro.Accept )" />
            <label>Aceitar os termos e condições</label>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div>
            <button class="btn btn-success" type="submit">Registrar</button>
            <button class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</EditForm>

@code {
    Registro registro = new Registro();

    private void Create()
    {
        Console.WriteLine(registro.Title);
    }
}