@page  "/produto/list"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager 

<h3>Produtos</h3>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in produtoList)
            {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@String.Format("{0, 0:C2}", @item.Valor)</td>
                <td>
                    <a href="/produto/EditProduto/@item.Id.ToString()"><button class="btn btn-success">Editar</button></a>
                    <button class="btn btn-danger" @onclick="@(() => DeleteProduto(item.Id))">Deletar</button>
                </td>
            </tr>
            }   
        </tbody>
    </table>
</div>

@code {

    private List<Produto> produtoList = new List<Produto>();

    protected override async Task OnInitializedAsync()
    {
        var produtos = await Http.GetFromJsonAsync<List<Produto>>("/Produto/List");
        foreach (var item in produtos)
        {
            produtoList.Add(item);
        }
    }

    private async Task DeleteProduto(int itemId)
    {
        await Http.DeleteAsync("/Produto/Delete/"+itemId);
        NavigationManager.NavigateTo("produto/list", true);
    }

}